//$clr-brown: #583432;
//$clr-black: #C96036;
//$clr-black: #F1E4C4;
//$clr-lightblue: #589D9E;
//$clr-blue: #457D80;

$clr-brown: #583432;
$clr-black: #231F20;
$clr-cream: #F1E0BF;
$clr-lightblue: #589D9E;
$clr-blue: #457D80;
