.carouselGallery {
  height: 100%;
  width: -webkit-fill-available;

  .thumbs {
    text-align: center;
    padding: 0;
  }

  .carouselGallerySlide {
    //height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10%;

    .carouselImage {
      //width: auto;
      //max-height: 450px;
      border-radius: 35px;
    }
  }
}