@use "colors.module";


.MuiFormLabel-root {
  color: colors.$clr-black !important;
}

.MuiInputBase-input {
  color: colors.$clr-black !important;
}

.MuiInput-underline:before {
  border-bottom-color: colors.$clr-black !important;
}

.MuiInput-underline:after {
  border-bottom-color: colors.$clr-black !important;
}

.contactUsWrapper {
  margin: 50px 0;
  display: flex;

  .contactUsCard {
    width: 320px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    align-items: center;
    border-radius: 25px;
    background-color: colors.$clr-cream;
    margin: 0 40px 50px;

    p {
      margin: 25px 0;
      text-align: center;
      font-size: 22px;
    }

    h2 {
      font-size: 33px;
      color: colors.$clr-black;
    }

    button {
      background-color: transparent;
      color: colors.$clr-black;
      border: 2px solid colors.$clr-black;
      margin-top: 20px;

      &:hover {
        background-color: colors.$clr-blue;
      }
    }
  }

  form {

    .textField {
      margin: 10px;
    }

    .successMessage, .error {
      font-size: 14px;
      color: colors.$clr-black;
      margin-top: 20px;
      font-weight: bold;
    }
  }

  .contactUsLocation {
    h2 {
      margin-bottom: 20px;
    }

    img {
      width: 80%;
      height: 180px;
      border: 2px solid colors.$clr-black;
      border-radius: 15px;
      object-fit: cover;
    }
  }
}


@media (max-width: 1000px) {
  .contactUsWrapper {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .contactUsWrapper {
    .contactUsCard {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

@media (max-width: 400px) {
  .contactUsWrapper {
    .contactUsCard {
      margin-right: 0;
      margin-left: 0;
      width: 280px;
    }
  }
}
